* {
    margin: 0;
    padding: 0;
}

.my-style {
    background-color: #ECF2FF;
    color:#E5D1FA;
    padding-right: 20px;
    padding-left:220px ;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}

.parent{
    position: relative;
    background-color: beige;
    width: 300px;
    height: 300px;
    
}
.child{
    position: absolute;
    display: inline-block; 
    background-color: aquamarine;
    width: 100px;
    height: 100px;
    margin: 2px;
    top: 0;
    right: 0;
} 